**backups/
**production/
**gerbers/
**.history/

# license-restricted files
**SnapMagic/
**UltraLibrarian/
**Nidec/
**SamacSys/
**reference/

# Kicad specific config files
**.kicad_prl
**fabrication-toolkit-options.json
fp-info-cache

*.bak
*.zip

# ltspice output files
*.log
*.raw
*.net
