**/*-backups/
production/

# Kicad specific config files
**.kicad_prl
**fabrication-toolkit-options.json
fp-info-cache

*.bak
*.zip

# Kicad temporary files
"#auto_saved_files#"
~**.kicad_pcb.lck
~**.kicad_sch.lck

# ltspice output files
*.log
*.raw
*.net

# license-restricted files
**/lib/SnapMagic/**
**/lib/UltraLibrarian/**
**/lib/SamacSys/**
